<div class="instructions">
  <p>
    Hi!
  </p>
  <p>
    I am Thorben and I am currently working on my Master's thesis on news articles. And that's why I need your help and your opinion on news stories. No worries, this is no test and there is no right or wrong ;). You will be presented abstracts of news articles and have to provide your opinion on some statements regarding the content. The articles are from the years 2005 - 2007, so it might also be fun to recall what was going on in these days.
  </p>
  <p>
    So what's in for you? If you participate and provide your email address below, you win a delicious bar of chocolate.
  </p>
  <p>
    Thanks for your participation!
  </p>
</div>

<form ng-submit="createParticipant()" name="form" novalidate>
  <div class="form-field">
    <label>Your email address:</label>
    <input type="email" ng-model="participant.email" size="30" placeholder="optional">
  </div>
  
  <div class="form-field">
    <label>Your age:</label>
    <input type="text" ng-model="participant.age" size="30" placeholder="required" required ng-pattern="/^\d+$/">
  </div>
  
  <div class="form-field">
    <label>Which written news sources do you consume (e.g. sueddeutsche.de, WirtschaftsWoche, ...)?</label>
    <input type="text" ng-model="participant.publications" size="120" placeholder="required" required>
  </div>
    
  <div class="form-field">
    <label>How much time do you spend reading news every day? Please provide an average (e.g. if you read a news paper every 3 days for 30 minutes, enter "10 minutes")</label>
    <input type="text" ng-model="participant.consumptionBehavior" size="120" placeholder="required" required>
  </div>
    
  <div>
    <button type="submit" class="user-action" ng-disabled="form.$invalid">Participate</button>
    <!--<input class="btn-primary" type="submit" value="Participate">-->
  </div>
</form>

