<h1>{{thread.title}}:</h1>
<ul>
  <li ng-repeat="item in items" ng-controller="ItemController" class="thread-item-container" ng-class="{active: visible}">
    <div class="inline-container">
      <h2 ng-click="visible = !visible" class="collapsable">{{item.article.title}}</h2>
      <h4 class="right">{{item.article.publicationDate | date:'short'}}</h4>
    </div>
    <p ng-show="visible">{{item.article.content}}</p>
    <div class="inline-container">
      <div userstudy-rating title="'Surprise Rating'" rating-value="rating.rating" max="5" on-rating-selected="saveRating(newRating)" class="right"></div>
    </div>
    <!--<div ng-repeat="likertItem in likertItems" likert-item item="likertItem" on-rating-selected="saveLikertRating(newRating, itemId)"></div>-->
    <div likert-items items="likertItems" on-rating-selected="saveLikertRating(newRating, itemId)"></div>
  </li>
</ul>
<a ng-href="#/{{participantId}}">Home</a>