<div class="instructions">
  <p>
    Please choose a thread that matches your interests and taste and that you would like to work on. A small number of news articles from the New York Times will be presented to you. You will be asked to answer some questions regarding each of these articles. There is no need for you to work on every one of these threads. Just choose the ones you like. It is more helpful for me, if you rate a single thread completely instead of rating multiple threads partially. Evaluating a single thread takes approximately XX minutes.
  </p>
</div>

<h2>Open News Threads:</h2>
<ul>
  <li ng-repeat="thread in threads" class="thread-container">
    <div>
      <h3>{{thread.title}}</h3>
      <div ng-bind-html="thread.description"></div>
      <p>Articles rated: {{ratingsCountByThread[thread.id].count}}/{{thread.itemCount}} - {{getMessageForRating(ratingsCountByThread[thread.id].count, thread.itemCount)}}
      <a ng-href="#/{{participantid}}/thread/{{thread.id}}">Work on it</a>
      <button ng-click="visitThread(thread.id)">Go</button>
      </p>
      
    </div>
  </li>
</ul>
