<h1>{{thread.title}}:</h1>
<ul>
  <li ng-repeat="item in items" ng-controller="ItemController" class="thread-item-container" ng-class="{active: visible}">
    <div class="inline-container">
      <h2 ng-click="visible = !visible" class="clickable">{{item.article.title}}</h2>
      <div ng-click="visible = !visible" ng-show="!visible" class="clickable">Show Full Content</div>
      <div ng-click="visible = !visible" ng-show="visible" class="clickable">Hide</div>
      <h4 class="right">{{item.article.publicationDate | date:'short'}}</h4>
    </div>
    <div>
      <h4>Summary:</h4>
      <div ng-bind-html="item.article.abstractContent"></div>
    </div>
    <div ng-show="visible">
      <h4>Content:</h4>
      <div ng-bind-html="item.article.content"></div>
    </div>
    <!--<div class="inline-container">
      <div userstudy-rating title="'Surprise Rating'" rating-value="rating.rating" max="5" on-rating-selected="saveRating(newRating)" class="right"></div>
    </div>-->
    <div likert-items subject-id="item.id" items="likertItems" options="likertOptions" on-rating-selected="saveLikertRating(rating)"></div>
  </li>
</ul>
<a ng-href="#/{{participantId}}">Home</a>