<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">25</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        
        <!-- Bind sessions to thread -->
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <!-- Names the annotated entity class -->
        <mapping class="de.hpi.unipotsdam.thorben.entity.NewsThread"/>
        <mapping class="de.hpi.unipotsdam.thorben.entity.Article"/>
        <mapping class="de.hpi.unipotsdam.thorben.entity.UserEntity"/>
        <mapping class="de.hpi.unipotsdam.thorben.entity.Participant"/>
        <mapping class="de.hpi.unipotsdam.thorben.entity.Role"/>
        <mapping class="de.hpi.unipotsdam.thorben.entity.ThreadItem"/>
        <mapping class="de.hpi.unipotsdam.thorben.entity.Rating"/>

    </session-factory>

</hibernate-configuration>