<!doctype html>
<html ng-app="project">
  <head>
    <script src="assets/vendor/angular/angular.js"></script>
    <script src="assets/vendor/angular/angular-route.js"></script>
    <script src="assets/vendor/angular/angular-resource.js"></script>
    <script src="assets/vendor/angular/angular-sanitize.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/services.js"></script>
    <script src="app/project.js"></script>
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/vendor/fontawesome/css/font-awesome.min.css">
    <title>Serendipity User Study</title>
  </head>
  <body>
    <!-- TODO: make this a directive -->
    <div ng-init="errors = []" class="errors">
      <div ng-repeat="error in errors" class="error inline-container">
        <div>Error: {{error.message}}</div>
        <div ng-click="errors.splice($index, 1)" class="clickable right">
          <i class="fa fa-check fa-2x"></i>
        </div>
      </div>
    </div>
    
    <div ng-init="notifications = []" class="notifications">
      <div ng-repeat="notification in notifications" class="notification inline-container">
        <div>Notification: {{notification.message}}</div>
        <div ng-click="notifications.splice($index, 1)" class="clickable right">
          <i class="fa fa-check fa-2x"></i>
        </div>
      </div>
    </div>
    
    <div class="header layout-container">
      <h1>Surprise Reception in the News Domain</h1>
    </div>
    
    <div class="body inline-container"><div navigation class="navigation"></div><div ng-view class="view layout-container"></div></div>
    
    <div class="footer">
      <p>
        Thorben Lindhauer <a href="mailto:thorben.lindhauer@student.hpi.uni-potsdam.de">thorben.lindhauer@student.hpi.uni-potsdam.de</a>
      </p>
      <p>
        <a href="#/about">About/Impressum</a>
      </p>
    </div>
  </body>
</html>