<!doctype html>
<html ng-app="project">
  <head>
    <script src="assets/vendor/angular/angular.js"></script>
    <script src="assets/vendor/angular/angular-route.js"></script>
    <script src="assets/vendor/angular/angular-resource.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/services.js"></script>
    <script src="app/project.js"></script>
    <link rel="stylesheet" href="assets/css/app.css">
    <title>Serendipity User Study</title>
  </head>
  <body>
    <!-- TODO: make this a directive -->
    <div ng-init="errors = []" class="errors">
      <div ng-repeat="error in errors" class="error">
        <div>Error: {{error.message}}</div>
        <div ng-click="errors.splice($index, 1)">remove</div>
      </div>
    </div>
    
    <div ng-init="notifications = []" class="notifications">
      <div ng-repeat="notification in notifications" class="notification">
        <div>Notification: {{notification.message}}</div>
        <div ng-click="notifications.splice($index, 1)">remove</div>
      </div>
    </div>
    
    <div ng-view class="view"></div>
  </body>
</html>